footer {
  margin-top: auto;
  padding: 1.2rem 2rem;
  text-align: center;
  background: var(--primary-dark);
  color: var(--primary-light);
  font-size: 0.9rem;
  border-top: 5px solid var(--primary-light);
}

footer a {
  display: flex;
  color: var(--accent);
  align-items: center;
  gap: 0.5rem;
  justify-self: center;
}

/* Desktop */
@media (min-width: 1000px) {
  footer a:hover {
    color: var(--accent-dark);
  }
}
