<footer>
  <p class="footer-title"><%- include('./logo') %></p>
  <a
    href="https://github.com/irynamatsiuk/irynamatsiuk.github.io/tree/main/projects/membersonly"
    >GitHub</a
  >
  <p class="footer-copy">
    Made by I. Matsiuk &nbsp;|&nbsp; &copy; <%= new Date().getFullYear() %>
  </p>
</footer>
