<span class="logo">
    F <span class="middotRed">&#183;</span> 
    R <span class="middotBlue">&#183;</span> 
    I <span class="middotYellow">&#183;</span> 
    E <span class="middotRed">&#183;</span> 
    N <span class="middotYellow">&#183;</span> 
    D <span class="middotBlue">&#183;</span> 
    S
</span>