@import "./base/variables.css";
@import "./base/reset.css";
@import "./base/globals.css";

@import "./layout/header.css";
@import "./layout/footer.css";

@import "./components/buttons.css";
@import "./components/message.css";
@import "./components/postsList.css";
@import "./components/modal.css";
@import "./components/spinner.css";
