<header>
  <div class="about">
    <p id="page-description">
      These are the projects I have done during my learning path.
    </p>
    <p>
      Currently I am on the second part of The Odin Project - Full Stack
      JavaScript, chapter - NodeJS.
    </p>
  </div>
  <div class="info">
    <img
      src="../../assets/img/photo_imatsiuk_color.jpg"
      alt="I. Matsiuk photo"
    />
    <p>Iryna Matsiuk</p>

    <div>
      <p>Location: Heerlen</p>
      <p>
        Source:
        <a
          href="https://github.com/irynamatsiuk/irynamatsiuk.github.io/tree/main"
          target="_blanc"
          >Github</a
        >
      </p>
    </div>
  </div>
</header>
