button {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: var(--radius);
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: background-color 0.7s ease, color 0.7s ease;
}

/* Login */

#login-btn {
  background-color: var(--accent);
}

#load-credentials-btn {
  background-color: var(--primary);
  width: 100%;
}

/* Header */

#logout-btn {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: flex-end;
  align-self: end;
  padding: 0;
  background-color: var(--primary);
  color: var(--primary-light);
  text-decoration: underline;
  width: 50px;
  box-shadow: none;
  font-weight: 550;
}

#reset-db-btn {
  background: var(--accent);
  color: var(--text);
  justify-self: flex-start;
  align-self: end;
  width: 80px;
  padding: 0.3rem 0;
}

/* Dashboard */

#new-post-btn {
  padding: 0.3rem 0;
  align-self: center;
  background: var(--primary);
  color: var(--white);
  width: 80px;
}

.filter-btn {
  background: var(--grey-light);
  color: var(--text);
  padding: 0.3rem 0.5rem;
  font-weight: 550;
}

.filter-btn.active {
  background: var(--accent);
}

/* Modal new post */
.btn-draft {
  background: var(--primary);
  margin-top: 1rem;
  width: 100px;
  padding: 0.3rem 0;
}

.btn-publish {
  background: var(--accent-dark);
  color: var(--white);
  margin-top: 1rem;
  width: 90px;
  height: 35px;
}

/* Corfirm modal */
#confirm-cancel {
  background: var(--primary);
  width: 90px;
  height: 30px;
}

#confirm-ok {
  background: var(--danger);
  width: 90px;
  height: 30px;
}

/* Post */

#edit-post-btn {
  grid-area: 4 / 1 / 5 / 2;
  width: 80px;
  background-color: var(--accent);
}

#delete-post-btn {
  grid-area: 1 / 2 / 2 / 3;
  height: 20px;
  width: 20px;
  background-image: url("../../images/icons/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -15px;
  margin-top: -10px;
}

/* Comments */
#new-comment-btn {
  background-color: var(--primary);
  width: 80px;
  align-self: end;
}

.btn-delete-comment {
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
  background-image: url("../../images/icons/close.svg");
  box-shadow: none;
}

/* Tablet */
@media (min-width: 600px) {
  #reset-db-btn,
  #new-post-btn {
    width: 100px;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
  }
}

/* Desktop */
@media (min-width: 1000px) {
  button:hover {
    transform: translateY(-1px);
  }

  /* Login */
  #login-btn:hover {
    background-color: var(--accent-dark);
  }

  #load-credentials-btn:hover {
    background-color: var(--primary-dark);
  }

  /* Header */
  #logout-btn:hover {
    color: var(--accent);
  }

  #reset-db-btn:hover {
    background-color: var(--accent-dark);
  }

  /* Dashboard */
  #new-post-btn:hover {
    background: var(--primary-dark);
  }

  .filter-btn:hover {
    background: var(--accent-light);
  }

  /* Modal new post */
  .btn-draft:hover {
    background: var(--primary-light);
    color: var(--text);
  }

  .btn-publish:hover {
    background: var(--accent-light);
    color: var(--text);
  }

  /* Confirm modal */
  #confirm-cancel:hover {
    background: var(--primary-light);
    color: var(--text);
  }

  #confirm-ok:hover {
    background: var(--danger-light);
    color: var(--text);
  }

  /* Post */
  #edit-post-btn:hover {
    background-color: var(--accent-dark);
  }

  /* Comment */
  #new-comment-btn:hover {
    background-color: var(--primary-dark);
  }
}
