/* Modal new post & edit post */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

#error-modal {
  height: 30px;
  text-align: center;
  font-weight: 500;
}

.modal-content {
  width: 90%;
  max-width: 600px;
  background: var(--white);
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  animation: fadeIn 0.25s ease;
  position: relative;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.modal-content h2 {
  margin-bottom: 1rem;
}

.modal-content label {
  display: block;
  margin: 1rem 0 0.3rem;
  font-weight: 600;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  font-size: 1rem;
}

.modal-submit-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-submit-btns button {
  width: 100px;
}

/* Confirm modal */

#confirm-message {
  white-space: pre-line;
  text-align: center;
}
.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
