.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.2rem;
  margin: auto 0;
}

.post {
  background: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 20px;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border-left: 5px solid var(--accent);
  margin: 0;
}

.post .title {
  grid-area: 1 / 1 / 2 / 3;
  font-size: larger;
  text-align: center;
  align-self: center;
  font-weight: 700;
  color: var(--primary-dark);
}

.post .content {
  grid-area: 2 / 1 / 3 / 3;
  text-align: justify;
  line-height: 1.5rem;
}

.post .status {
  grid-area: 3 / 1 / 4 / 2;
}

.post .post-link {
  grid-area: 3 / 2 / 4 / 3;
  text-align: end;
}

.post .status,
.post .post-link,
.post .date {
  align-self: center;
  font-style: italic;
  color: var(--grey);
  font-size: smaller;
}

/* Tablet */
@media (min-width: 600px) {
  .posts {
    padding: 0 1.5rem;
  }
}

/* Desktop  */
@media (min-width: 1000px) {
  .post .title:hover {
    color: var(--primary);
  }
  .post .post-link:hover {
    color: var(--primary);
  }
}
