#server-wakeup {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

h2 {
  margin-top: 2rem;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
}

#login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  padding: 1.5rem 1.5rem;
  border-radius: var(--radius);
}

/* Password visibility */
.password-container {
  position: relative;
  width: 100%;
}

#password {
  width: 100%;
  padding-right: 35px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

/* Demo credentials */
.demo {
  width: 100%;
  max-width: 300px;
  padding: 1rem 1.5rem;
}
