.toolbar {
  display: flex;
  padding: 1.5rem 1.5rem 0 1.5rem;
  justify-self: flex-start;
  margin-bottom: auto;
}

.toolbar a {
  color: var(--primary-dark);
  font-weight: 600;
  font-size: 1rem;
}

.post-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto 0;
}

.post {
  position: relative;
}

.post .date {
  grid-area: 4 / 2 / 5 / 3;
  justify-self: end;
}

.post .status {
  grid-area: 3 / 2 / 4 / 3;
  justify-self: end;
}

/* New Comment Form */
#new-comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem 0 1.5rem;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1.5rem 2rem 1.5rem;
}
#new-comment-form textarea {
  padding-left: 1.5rem;
}

/* Comment */

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--grey-light);
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border-radius: var(--radius);
  font-style: italic;
}

.comment div {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: smaller;
  color: var(--grey);
  text-align: right;
}

.author {
  margin-left: -0.7rem;
  font-size: smaller;
  color: var(--primary-dark);
}

/* Tablet */
@media (min-width: 600px) {
  .post {
    margin: 0 1.5rem;
  }
}
