<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link
    rel="icon"
    type="image/png"
    href="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-europe-vacation-planning-trip-abroad-flaticons-flat-flat-icons-2.png"
  />
  <link rel="stylesheet" href="/styles.css" />
</head>
