.header {
  height: 300px;
  width: 90vw;
}

.searchInput {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 500px;
  margin-left: 0.8rem;
  border-radius: 0.7rem;
  padding: 0.2rem 0.5rem;
  font-style: italic;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.result > * {
  margin: 0.3rem;
}

.message {
  align-self: center;
  font-size: 1.2rem;
  color: brown;
  font-weight: 600;
}
