@use '../variables' as *;

footer {
  background-color: $color-black;
  color: $color-white;
  text-align: center;
  width: 100%;
  height: 75px;
  font-size: 0.7rem;
  line-height: 1.2rem;
  .footer-title {
    margin: 0.5rem 0 0 0;
  }
  .footer-copy {
    margin: 0 0 0.5rem 0;
  }
}
