<section id="about" class="my-5 py-5">
  <div class="container-xl row mx-auto justify-content-center px-2">
    <h2 class="text-center mb-5">About Bark Summit 2025</h2>
    <p class="col-lg-10 text-justify">
      Welcome to Bark Summit 2025—the world’s most tail-thumping celebration of
      creativity, collaboration, and canine-inspired innovation. We're not just
      throwing another conference—we’re crafting a playground where bold ideas
      chase frisbees of imagination, and every speaker has a bark worth
      listening to. Whether you're an artist, storyteller, or serial
      treat-giver, this summit is for curious minds who believe that inspiration
      often comes on four legs and with a wagging tail.
    </p>
    <p class="col-lg-10 d-none d-md-block text-justify">
      At Bark Summit, our mission is simple:
      <span class="fw-bold"
        >Unleash creativity. Celebrate community. Pet more dogs.</span
      >
      Through engaging talks, hands-on workshops, and fur-tastic networking
      events, we’re building a space where ideas run wild—and occasionally fetch
      a stick. Because when dogs lead the way, anything is pawsible.
    </p>
  </div>
</section>
