<section id="adopted" class="my-5 py-5">
  <div class="container-xl">
    <h2 class="text-center mb-5">Last Year Adoptions</h2>
    <!-- Carousel-->
    <div
      id="carouselCaptions"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <!-- Indicators -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>

      <!-- Slides -->
      <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <img
            src="assets/images/adopted/wieger-stienstra-SDWbEi94QG0-unsplash.jpg"
            class="d-block w-100"
            alt="Jack and Rufus at the beach"
          />
          <div class="carousel-caption d-none d-md-block p-3">
            <h5>Jack and His New Friend, Rufus at the Beach</h5>
            <p>
              It’s probably Rufus’s first time seeing the ocean — he was found
              as a stray nearly 100 km from the coast.
            </p>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <img
            src="assets/images/adopted/tamas-pap-Qdt8f7Tcle0-unsplash.jpg"
            class="d-block w-100"
            alt="Emily and Luna at Bark Summit"
          />
          <div class="carousel-caption d-none d-md-block p-3">
            <h5>Emily Meets Her New Friend, Luna</h5>
            <p>
              This photo was taken at the last Bark Summit. Luna was instantly
              curious about her new human friend.
            </p>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
          <img
            src="assets/images/adopted/eric-ward-ISg37AI2A-s-unsplash.jpg"
            class="d-block w-100"
            alt="Mike and Molly hiking"
          />
          <div class="carousel-caption d-none d-md-block p-3">
            <h5>Mike and His Hiking Partner, Molly</h5>
            <p>
              They met just a year ago, but it feels like they’ve known each
              other their whole lives.
            </p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
