<section
  id="hero"
  class="d-flex align-items-end"
  style="
    background: url('assets/images/hero/corgi.png') center/cover no-repeat;
    aspect-ratio: 16 / 9;
    background-color: #f8f9fa;
  "
>
  <div class="container-xl d-flex flex-column h-100 pe-4">
    <div class="text-center pt-2 pt-md-4 pt-lg-6">
      <h1 class="display-3 fw-bold text-black d-none d-md-block">
        Bark Summit 2025
      </h1>
      <h1
        class="display-5 fw-bold text-black d-block d-md-none text-end me-sm-5 mt-sm-4"
      >
        Bark Summit
      </h1>
    </div>
    <div class="row flex-grow-1">
      <div class="col-6 d-flex align-items-end">
        <p class="small text-secondary mb-1 d-none d-md-block">
          Photo by
          <a
            class="text-secondary"
            href="https://unsplash.com/@fattycorgi"
            target="_blank"
            >fatty corgi</a
          >
          on
          <a
            class="text-secondary"
            href="https://unsplash.com/photos/brown-and-white-corgi-puppy-wHgkrmuMFOY"
            target="_blank"
            >Unsplash</a
          >
        </p>
      </div>
      <div
        class="col-6 d-flex flex-column align-items-center justify-content-center gap-lg-4"
      >
        <p class="lead d-none d-md-block text-center">
          Bark Summit 2025 brings together creative humans and their four-legged
          muses for a tail-wagging thinkfest. Expect barking-mad ideas, paws-on
          workshops, and the occasional stolen sandwich. Come for the
          insights—stay for the belly rubs. Who says conferences can't be a
          treat?
        </p>
        <a href="#pricing" class="btn btn-warning btn-lg fw-bold">Tickets</a>
      </div>
    </div>
  </div>
</section>
