<div
  class="modal fade"
  id="modal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Demo Only – No Real Action</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <p class="text-center">
          This is a demo. <br />
          The ticket link doesn’t lead to a real purchase. <br />
          The contact form doesn’t send messages. <br />
          No data is sent or saved—just showcasing the design.
        </p>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
