<div class="d-flex flex-column justify-content-center align-items-center">
  <i class="bi bi-bug text-secondary mb-3 fs-1"></i>
  <p class="text-center"><%= error %></p>
  <a href="/folders/recent">Home</a>
</div>
