<div class="row justify-content-center">
  <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4">
    <h2 class="text-center mb-4">Log in</h2>

    <% if (locals.failed) { %>
    <div class="alert alert-danger text-center">
      <p class="mb-0">Login failed. Please try again.</p>
    </div>
    <% } %> <% if (locals.success) { %>
    <div class="alert alert-success text-center">
      <p class="mb-0"><%= success %></p>
    </div>
    <% } %>

    <form method="POST" action="/login">
      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
        />
      </div>
      <!-- Password -->
      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <div class="position-relative">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            required
          />
          <button
            type="button"
            class="btn position-absolute end-0 top-50 translate-middle-y me-2 p-0 border-0 bg-transparent text-secondary password-visibility"
          >
            <i class="bi bi-eye"></i>
          </button>
        </div>
      </div>
      <!-- Submit button -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Log in</button>
      </div>
    </form>

    <p class="mt-4 text-center">
      Don't have an account? <br /><a href="/signup">Sign up</a>
    </p>

    <!-- Demo credentials -->
    <p class="text-center small text-secondary mt-5">
      Psst... 👀<br />
      You can log in with <br />
      <strong>username:</strong> <code>Demo-1</code> and
      <strong>password:</strong> <code>Demo-1</code> <br />
      or create your own user via <a href="/signup">Sign up</a> form <br />
      (no email conformation needed)
    </p>
  </div>
</div>

<script src="/js/passwordToggle.js"></script>
