<form
  action="/folders/new"
  method="POST"
  class="row justify-content-center mx-auto col-sm-9 col-md-7 col-lg-6 col-xl-5"
>
  <div class="d-flex flex-row">
    <input
      name="name"
      class="form-control me-2"
      placeholder="New folder name"
      aria-label="New folder name"
      required
    />
    <button class="btn btn-success" type="submit" aria-label="Create folder">
      +
    </button>
  </div>
</form>
