<footer class="p-3 d-flex flex-column gap-1 align-items-center bg-secondary">
  <p class="text-white text-center mb-1">
    Made by I. Matsiuk &nbsp;|&nbsp; &copy; 2025 <br />
    Bark Summit is a fictional event. <br />
    No dogs were harmed. No data was fetched.
  </p>

  <a
    href="https://github.com/irynamatsiuk/irynamatsiuk.github.io/tree/main/projects/barksummit"
    target="_blank"
    rel="noopener"
    class="text-warning d-flex align-items-center gap-1 text-decoration-none"
    aria-label="View Bark Summit project on GitHub"
  >
    <i class="bi bi-github" style="font-size: 1.1rem"></i>
    GitHub
  </a>

  <p class="text-center text-light mb-0">
    Carousel Photos by:
    <a
      href="https://unsplash.com/@wiegerstienstra"
      class="text-light text-decoration-none"
      target="_blank"
      rel="noopener"
      >Wieger Stienstra</a
    >,
    <a
      href="https://unsplash.com/@tamasp"
      class="text-light text-decoration-none"
      target="_blank"
      rel="noopener"
      >Tamas Pap</a
    >,
    <a
      href="https://unsplash.com/@ericjamesward"
      class="text-light text-decoration-none"
      target="_blank"
      rel="noopener"
      >Eric Ward</a
    >
  </p>
</footer>
