body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.4;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-bottom: 1rem;
}

.container {
  width: 100vw;
}

.hidden {
  display: none !important;
}

a {
  transition: 0.3s;
}

a:hover {
  transform: translateY(-1px);
}

input,
textarea {
  font-family: inherit;
  font-style: italic;
  padding: 0.5rem;
  border-radius: var(--radius);
  border: 1px solid var(--grey);
}

/* Tablet */
@media (min-width: 600px) {
  .container {
    width: 80vw;
    max-width: 800px;
  }
}

/* Desktop  */
@media (min-width: 1000px) {
  .container {
    width: 80vw;
    max-width: 1000px;
  }
}
