<nav>
  <p class="app-name">Mini Message Board</p>
  <p class="question">Who keeps stealing my lunch?</p>
  <ul class="nav-links">
    <li class="link">
      <a href="<%= link.href %>">
        <span> <%= link.text %> </span>
      </a>
    </li>
  </ul>
</nav>
